<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: 'ui-hidden-accessible' %>
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>
  <div class="field">
    <%= f.label :description, class: 'ui-hidden-accessible' %>
    <%= f.text_area :description, placeholder: 'Description' %>
  </div>
  <div class="field">
    <%= f.label :start %>
    <%= f.text_field :start, 'data-role' => 'date' %>
  </div>
  <div class="field">
    <%= f.label :end %>
    <%= f.text_field :end, 'data-inline' => 'false', 'data-role' => 'date' %>
  </div>
  <div class="field">
    <%= f.label :rate %>
    <%= f.range_field :rate, in: 0..5, step: 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
