<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @book.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @book.end %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @book.rate %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
